---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-webkit.*,
  -clang-analyzer-optin.osx.*,
  bugprone-use-after-move,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-move-forwarding-reference,
  bugprone-virtual-near-miss,
  bugprone-assert-side-effect
WarningsAsErrors: ''
HeaderFilterRegex: '.*/src/.*'
FormatStyle: file
AnalyzeTemporaryDtors: false
UseColor: true
...
