---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-webkit.*,
  -clang-analyzer-optin.osx.*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  bugprone-use-after-move,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-move-forwarding-reference,
  bugprone-virtual-near-miss,
  bugprone-assert-side-effect
WarningsAsErrors: ''
HeaderFilterRegex: '.*/src/(app|ai|core|debug|editor|lsp|plugins|project|scm|syntax|tasks|terminal|ui|viewers)/.*'
FormatStyle: file
UseColor: true
